.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}


.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -20%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #7b83fa;
}
.product-device-3 {
  transform: rotate(-60deg);
  width: 300px;
  height: 600px;
  top: -65%;
  right: 15%;
  bottom: 0;
  left: auto;
  background-color: #1da049;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }   


}
/* .progress {
  width: 250%;
} */
.st{
  font-size: 15px;
}
/*
 * Extra utilities
 */


 @media (min-width: 576px) {  }

 /* // Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {  }
 
 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {  }
 
 /* // X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {  }
 
 /* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { }


 .modalss{
  max-width: 900px ; 
  
  /* background: #000; */
 } 